<!-- 
    getToken

    $scope.token = '<%= token.value %>'; 
-->

<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link rel="stylesheet" href="libs/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
</head>
<body>

<div ng-view></div>

<!-- token -->
<div ng-model="token" ng-init="token='<%= token.value %>'"></div>


<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libs/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="libs/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="libs/angularjs/angular.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<!-- controllers -->
<script src="app/controllers/AppCtrl.js"></script>

<script src="app/js/app.js"></script>
</body>
</html>